* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

nav {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #fb5193;
}

nav li {
  width: 25px;
  height: 25px;
  list-style: none;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

nav > p {
  color: #ffffff;
}

nav > ul {
  display: flex;
  width: 75px;
  align-items: center;
  justify-content: space-between;
}

#back {
  background-image: url(../src/components/back.png);
}

#mic {
  background-image: url(../src/components/mic.png);
}

#settings {
  background-image: url(../src/components/settings.png);
}

.countryList {
  width: 100%;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  background-color: #fb5193;
}
.overview {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
}

.overview > div {
  height: 100%;
  background-image: url(../src/components/currencies/world-currency.png);
  background-size: 150px;
  background-repeat: no-repeat;
  background-position: center;
}

.overview > * {
  flex-basis: 50%;
}

.overview > h3 {
  color: #ffffff;
  font-size: 1.5rem;
}

.countryList > li {
  height: 100px;
  flex-basis: 50%;
  height: 150px;
  background-image: url("../src/components/currencies/money.png");
  background-size: 250px;
  background-repeat: no-repeat;
  background-position: 50px -80px;
}

.countryList > li:nth-child(even) {
  background-color: #b13967;
}
.countryList > li:nth-child(odd) {
  background-color: #fb5193;
}

.countryList > li > a {
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: inline-block;
  text-align: right;
  text-transform: uppercase;
  padding: 15px;
  font-weight: 1000;
  font-size: 1.3rem;
  color: #ffffff;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

section.currencies {
  width: 100%;
  background-color: #fb5193;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
}

.title {
  padding: 5px;
  color: #ffffff;
}
